*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {	
	--text-color-primary: #000;
	--color-primary: #ffb4a2;
	--color-secondary: #8b5d66;
  --color-secondary-darker: #6e4b52;
	--color-tertiary: #5a5661;
	--color-cta: #004e61;
  --color-gray-light: #a5a5a5cb;
	--font-logo: 'Style Script', cursive;
	--font-primary: 'Montserrat', sans-serif;
	--color-white: #fff;
  --linear-gradient-pink: linear-gradient(to right, #ffafbd 0%, #ffc3a0 100%);
	--linear-gradient-dark: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
	--linear-gradient-cards: linear-gradient(315deg, #ffab818a 0%, rgba(255, 147, 139, 0.336) 74%);
	--box-shadow: 10px 10px 25px #a88a90b4;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: var(--font-primary);
	color: var(--text-color-primary);
	line-height: 1.5;
}

::selection {
	background-color: var(--color-primary);
}

a {
	text-decoration: none;
	color: var(--text-color-primary);
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

.section__padding {
	padding: 4rem 3rem;
}

.section__heading {
	margin-bottom: 4rem;
	font-size: 2.4rem;
	font-weight: 700;
	text-align: center;
}

.btn {
	padding: 0.6em 1.2em;
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--text-color-primary);
	background-color: var(--color-primary);
	border-radius: 8px;
	transition: color 0.5s, background-color 0.5s;
}

.btn:hover {
	color: var(--color-white);
	background-color: var(--color-secondary);
}

.btn-buy {
	background-color: var(--color-cta);
	color: var(--color-white);
}

/* Navigation */

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-image: var(--linear-gradient-pink);
	z-index: 100;
}

.nav > .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3rem;
}

.nav__logo {	  
	font-size: 3.6rem;
	font-family: var(--font-logo);
	font-weight: 600;
}

.nav__left, .nav__right {
	display: none;
}

.nav__burger-btn{
  position: fixed;
	top: 0;
	right: 15px;   
  z-index: 1000;
}

.nav-mobile{
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
  width: 100%;
  height: 100vh;
  background-image: var(--linear-gradient-pink);
  transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1); 
  z-index: 110;
}

.nav-mobile--active{
  transform: translateX(0);
}

.nav-mobile__item{
  position: relative;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;  
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-mobile__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: var(--text-color-primary);
  content: '';
  transform: scaleY(0);
  transition: transform 0.3s;
}

.nav-mobile__item:hover::before {
  transform: scaleY(1);
}

/* header */

.header {
	display: flex;
	justify-content: center;	
	margin-top: 5.4rem;
  margin-bottom: 4rem;
  height: 75vh;
  min-height: 400px;
	background-image: var(--linear-gradient-dark), url('../img/weight-loss.jpg');
	background-position: center;
	background-size: cover;
	color: var(--color-white);
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;	
  padding: 3rem;
	color: var(--color-white);
}

.header__title{
  margin-bottom: 1em;
  font-size: 3.6rem;
  font-weight: 600;
}

.header__heading {
	margin-bottom: 4em;
	font-size: 2.2rem;
	font-weight: 500;
}

.header__btn {
  align-self: flex-start; 
	border: 2px solid var(--color-white);
}

/* Section with popular diets */

.offer {
	display: flex;
	flex-direction: column;
}

.offer__diets {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 1em;
}

.offer__diet {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 2em;
	max-width: 400px;
	border-radius: 20px;
	box-shadow: var(--box-shadow);
	overflow: hidden;
	background-image: var(--linear-gradient-cards);
	transition: transform 0.4s;
}

.offer__diet:hover {
	transform: scale(1.05);
}

.offer__diet__img {
	margin-bottom: 2em;
	width: 100%;
	height: 150px;
	object-fit: cover;
}

.offer__name {
	margin-bottom: 1em;
	font-size: 1.8rem;
	text-align: center;
}

.offer__diet__desc {
	margin-bottom: 1em;
	padding: 0 2em;
	font-size: 1.5rem;
}

.offer__btn-box {
	display: flex;
	flex-direction: column;
}

.offer__btn__more {
	padding: 0 2em;
	font-weight: 700;
	transition: color 0.5s;
}

.offer__btn__more i {
	padding-left: 0.5em;
	font-size: 1.4rem;
}

.offer__btn__more:hover {
	color: var(--color-secondary);
}

.offer__more-diets,
.offer__btn-buy {
	margin-top: 2em;
	align-self: center;
}

.offer__btn-buy {
	margin-bottom: 2em;
	font-size: 1.4rem;
}

.hero-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;  
  margin: 4em 0;	
  padding: 4rem 3rem;
  row-gap: 1em;  
	background-image: var(--linear-gradient-dark), url('../img/yoga.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
}

.hero-img__title {
	font-size: 9rem;
	font-family: var(--font-logo);
	color: var(--color-white);
}

.hero-img__text {
	padding: 1.5em 0;
	font-size: 2rem;
	color: var(--color-white);
}

.hero-img hr{
  width: 100%;
}

.hero__btn{
  margin-top: 2.5em;
  border: 2px solid var(--color-white);
}

/* Features */

.features__content,
.features__info {
	display: flex;
	flex-direction: column;
}

.features__info {
	align-items: space-between;
}

.features__img {
	margin-bottom: 2em;
	width: 100%;
	background-image: url('../img/fresh-fruits.jpg');
	background-position: center;
	background-size: cover;
	border-radius: 15px;
}

.features__desc {
	margin-bottom: 2em;
}

.features__desc p {
	margin-bottom: 0.5em;
	font-size: 1.5rem;
}

.features__box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: start;
}

.features__box__item {
	padding-bottom: 2em;
	border-bottom: 1px solid var(--text-color-primary);
}

.features__box__item:first-of-type {
	border-top: 1px solid var(--text-color-primary);
}

.features__item__title {
	padding-top: 2em;
	padding-bottom: 1em;
	font-weight: 600;
	text-transform: uppercase;
}

.features__item__title i {
	margin-right: 0.3em;
}

.features__item__desc {
	font-size: 1.5rem;
}

/* Team section */

.team__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  gap: 4rem;
}

.team__list__member {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.team__member__img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid var(--color-primary);
	box-shadow: var(--box-shadow);
}

.team__member__img--one {
	object-position: center 40%;
}

.team__member__img--two, .team__member__img--four, .team__member__img--five {
	object-position: center 0;
}

.team__member__img--three {
	object-position: 0 0;
}

.team__member__name {
	margin-top: 1em;
}

.team__member__position {
	margin-bottom: 1em;
	color: var(--color-tertiary);
	font-weight: 500;
}

.footer{
  color: var(--color-white);
  background-color: var(--color-secondary-darker);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.footer>.wrapper{
  display: flex;
  justify-content: space-between;  
  padding: 2rem 3rem 0 3rem;
  gap: 2em;  
}

.footer__left__logo{
  font-family: var(--font-logo);
  font-size: 3rem;
  color: var(--color-white);
}

.footer__text{
  font-size: 1.2rem;
}

.footer__links__one, .footer__links__two{
  display: none;
}

.footer__right{
  display: flex;
  flex-direction: column;
}

.footer__right i{
  margin-right: 0.3em;
}

.footer__heading{  
  font-size: 1.4rem;
  font-weight: 500;
}

.footer__contact{
  margin: 0.2em 0;
  padding: 0.2em 0;  
  font-size: 1.2rem;
  color: var(--color-white);
}

.footer__social-media a{
  margin: 0.2em 0.4em 0.2em 0;
  padding: 0.2em 0;  
  font-size: 1.8rem;
  
}

.footer hr{
  width: 80%;
  color: #a5a5a5;
}

.footer__rights{
  margin-top: 1rem;
  padding: 1em 0;  
  font-size: 1.2rem;
  text-align: center;  
  border-top: 1px solid var(--color-gray-light);
}
